streamlit
faiss-cpu
chardet
aiohttp
pandas
langchain
llama-index==0.10.64
neo4j
sentence-transformers
PyPDF2
beautifulsoup4
json-repair
langchain-community
langchain_experimental 
llama-index-graph-stores-neo4j 
llama-index.llms.huggingface
llama_index.readers.web
langchain_groq
IPython
transformers